@*<script type="text/ng-template" id="templateCampoAdicional">
    <div class="form-group">
        <label><%= CampoNombre %></label>
        <div>
            <input type="text" value="<%=Valor%>" />
        </div>
    </div>
</script>*@