@model LoginCol.Huellitas.Web.Models.ContenidoModel
<div id="divContenidosRelacionados">

</div>

<script type="text/template" id="templateContenidosRelacionados">
    
        <div class="box col-md-4">
            <div class="box-inner">
                <div data-original-title="" class="box-header well">
                    <h2><i class="glyphicon glyphicon-edit"></i> Contenidos Relacionados</h2>
                    <div class="box-icon">
                        <a class="btn btn-minimize btn-round btn-default" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="form-group">
                        @Html.Label("Filtrar por tipo")
                        @Html.DropDownList("TipoRelacionContenido", new SelectList(Model.TiposRelacionContenido, "TipoRelacionContenidoId", "Nombre"), "-", new { @class = "form-control" })
                        <br />
                        <div class="btn btn-success" id="BtnMostrarAgregarTipoContenido">
                            <i class="glyphicon glyphicon-plus"></i>
                            Agregar Contenido Relacionado
                        </div>
                    </div>
                    <div class="row" align="center">
                        <div class="box col-md-12">
                            <div class="box-inner">
                                <div data-original-title="" class="box-header well">
                                    <h2>Contenidos Relacionados</h2>
                                </div>
                                <div class="box-content" id="divFilasContenidosRelacionados">
                                    Seleccione el tipo de contenido para filtrar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--/span-->
    
</script>

<div id="divAgregarContenidoRelacionado" class="modal fade" role="dialog">

</div>

<script id="templateAgregarContenidoRelacionado" type="text/template">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Agregar Contenido</h3>
            </div>
            <div class="modal-body">
                <p>


                    <div class="box-inner">

                        <div class="box-content">
                            <div class="form-group">
                                    Para agregar un contenido relacionado, seleccione el tipo de relación y después seleccione el contenido que desea relacionar.
                            </div>
                            <div class="form-group">
                                @Html.Label("Tipo de Relación")
                                <select id="Relacionados_TipoRelacionContenido" name="Relacionados_TipoRelacionContenido" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                @Html.Label("Seleccione el contenido que desea relacionar")
                                
                                <div class="row" align="center">
                                    <div class="box col-md-12">
                                        <div class="box-inner">
                                            <div data-original-title="" class="box-header well">
                                                <h2>Contenidos a Relacionar</h2>
                                            </div>
                                            <div style="overflow-x:hidden; overflow-y:auto; max-height:200px;">
                                                <table id="tableContenidosARelacionar" width="100%">
                                                    <thead style="display:none">
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Nombre</th>
                                                            <th>Tipo</th>
                                                            <th>Opción</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    
                                                    </tbody>
                                                  
                                                </table>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>






</script>

<script type="text/template" id="templateTrContenidoRelacionado">
    <div class="row" id="trContenidoRelacionado_<%= ContenidoRelacionadoId %>">
        <div class="col-md-1"><h6><%= ContenidoHijo.ContenidoId %></h6></div>
        <div class="col-md-3"><h6><%= ContenidoHijo.Nombre %></h6></div>
        <div class="col-md-3"><h6><%= ContenidoHijo.TipoContenidoNombre %></h6></div>
        <div class="col-md-3">
            <div class="btn btn-danger" id="EliminarContenidoRelacionado_<%= ContenidoRelacionadoId %>">
                <i class="glyphicon glyphicon-remove"></i>
                Borrar
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="templateTrContenidoAAgregar">
    
    <tr>
            <td><h6><%= ContenidoId %></h6></td>
            <td><h6><%= Nombre %></h6></td>
            <td><h6><%= TipoContenidoNombre %></h6></td>
            <td>
                <div class="btn btn-success" id="AgregarContenidoRelacionado_<%= ContenidoId %>">
                    <i class="glyphicon glyphicon-add"></i>
                    Agregar
                </div>
            </td>
        </tr>
</script>

<script src="~/Scripts/models/huellitas.admin.ContenidoRelacionado.js"></script>
<script src="~/Scripts/views/huellitas.admin.ContenidosRelacionadosView.js"></script>