@model LoginCol.Huellitas.Web.Models.Admin.ListarContenidoModel
@{
    ViewBag.Title = ".: Administrador Huellitas sin Hogar :.";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="divVistaListarContenidos" style="display:none">
    @Html.Partial("~/Views/Administracion/Contenido/_Listado.cshtml")
</div>

@Html.Partial("~/Views/Administracion/Contenido/_Editar.cshtml", Model.Contenido)