<section class="slide slideAdopta" id="first" data-slide="1">
    <div class="container clearfix">
        <h2>ADOPTA</h2>
        <h3 class="color6_text">SI ESTÁS PENSANDO EN ADOPTAR UN ANIMAL TÓMATE UN MOMENTO PARA PENSAR LO SIGUIENTE:</h3>
    </div>
    <div id="cbp-fwslider" class="cbp-fwslider clearfix">
        <ul style="padding:30px 0 0;">
            <li>
                <div class="container clearfix">
                    <div class="img_slideAdopta grid_5">
                        <img src="images/img_adopta1.png" />
                    </div>
                    <div class="descriAdopta grid_7 omega">
                        <h4>¿POR QUÉ QUIERES UNA MASCOTA?</h4>
                        <p>Es importante pensar en la razón principal para querer compartir tu hogar con una mascota, adoptar un animal simplemente para que cuide la casa o por capricho de los niños generalmente termina en un gran error. Debes tener en cuenta que algunas mascotas pueden estar contigo 10, 15 o incluso 20 años.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="container clearfix">
                    <div class="img_slideAdopta grid_5">
                        <img src="images/img_adopta2.png" />
                    </div>
                    <div class="descriAdopta grid_7 omega">
                        <h4>¿Tienes tiempo para una mascota?</h4>
                        <p>Además de ser alimentados, perros y gatos necesitan de tu compañía, cariño y atención. Es importante considerar el tiempo que tendrás disponible para tu mascota, muchos animales terminan siendo abandonados por que sus dueños no pensaron en el factor tiempo.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="container clearfix">
                    <div class="img_slideAdopta grid_5">
                        <img src="images/img_adopta3.png" />
                    </div>
                    <div class="descriAdopta grid_7 omega">
                        <h4>¿Eres económicamente capaz de tener una mascota?</h4>
                        <p>Comida, asistencia veterinaria, medicamentos, juguetes, vacunas, todos estos son gastos que se deben asumir cuando se está a cargo de una mascota además de los daños que pueden llegar a ocasionar en los muebles y cosas de tu hogar.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="container clearfix">
                    <div class="img_slideAdopta grid_5">
                        <img src="images/img_adopta4.png" />
                    </div>
                    <div class="descriAdopta grid_7 omega">
                        <h4>¿Es tu hogar un sitio apto para tener mascota?</h4>
                        <p>Es importante que todos los miembros de la familia estén de acuerdo con la llegada de una mascota, debes considerar si hay personas alérgicas o que no puedan convivir con perros o gatos. Debes tener identificado un sitio apto para que tu nueva mascota haga sus necesidades. </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="container clearfix">
                    <div class="img_slideAdopta grid_5">
                        <img src="images/img_adopta5.png" />
                    </div>
                    <div class="descriAdopta grid_7 omega">
                        <h4>¿Serás un dueño responsable?</h4>
                        <p>Debes estar dispuesto a aceptar al animal como un nuevo integrante de la familia quien merece todo el amor y respeto, además debes cumplir con ciertas normas comunitarias que harán que tu mascota pueda convivir sin problemas con las personas que lo rodean.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="container clearfix">
                    <div class="img_slideAdopta grid_5">
                        <img src="images/img_adopta6.png" />
                    </div>
                    <div class="descriAdopta grid_7 omega">
                        <h4>Encuentra tu mascota</h4>
                        <p>Puedes empezar a buscar tu nuevo amigo ingresando <a href="/sinhogar">aquí</a>.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
