<script id="templateContenidosRelacionados" type="text/template">
    <section class="slide conte_similar">
        <h2 class="container clearfix"><%= obj.Titulo %></h2>
        <div id="cbp-fwslider" class="cbp-fwslider clearfix">
            <ul>

                <%
                var contador = 0;
                _.each(obj.Contenidos, function(contenido){


                if(contador == 0 || contador % 4 == 0){ %>
                <li>
                    <div class="container clearfix">
                        <% } %>



                        <div class="grid_3 <%= contador > 0 && contador%3 == 0 ? " omega" : "" %>">
                            <div style="background-image: url(/img/<%=contenido.ContenidoHijo.ContenidoId%>/mini);" class="cajaSimilar">
                                <article class="c_tipo1">
                                    <h3> <a href="/huellitas/<%=contenido.ContenidoHijo.ContenidoId%>/<%=contenido.ContenidoHijo.NombreLink%>"><%=contenido.ContenidoHijo.Nombre%></a></h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                </article>
                            </div>
                        </div>
                        <%

                        if(contador== obj.Contenidos.length || (contador > 0 && contador % 3 == 0)){ %>
                    </div>
                </li>
                <% }

                contador++;


                }); %>
            </ul>
        </div>
        <div class="mas_scroll">Ver todos</div>
    </section>
</script>
<script src="~/Scripts/models/huellitas.admin.ContenidoRelacionado.js"></script>
<script src="~/Scripts/views/huellitas.ContenidoRelacionadoView.js"></script>



