<form class="grid_7 omega" >
    <h2>CONTACTANOS</h2>
    <h3>DEJANOS TUS COMENTARIOS</h3>
    <p>Si eres una fundacion o alguién que quiere adoptar una mascota, dejanos tus comentarios y te contactaremos para cualquier duda.</p>
    <div class="grid_4">
        <input id="Nombres" type="text" placeholder="NOMBRE:" />
        <span class="obliga" id="NombresError"></span>
    </div>
    <div class="grid_4">
        <input id="CorreoElectronico" type="text" placeholder="CORREO ELECTRÓNICO:" />
        <span class="obliga" id="CorreoElectronicoError"></span>
    </div>
    <div class="grid_4 omega">
        <input id="Telefono" type="tel" placeholder="CELULAR:" />
    </div>
    <br />
    <textarea id="Comentario" placeholder="ESCRIBE TU COMENTARIO AQUÍ"></textarea>
    <span class="obliga" id="ComentarioError"></span>
    <a href="javascript:;" class="btn">ENVIAR</a>
</form>

