<script id="templateContenidosRelacionados" type="text/template">
    <section class="slide conte_similar">
        <h2 class="container clearfix"><%= obj.Titulo %></h2>
        <div id="cbp-fwslider" class="cbp-fwslider clearfix">
            <ul>
                <%
                var contador = 0;
                _.each(obj.Contenidos, function(contenido){
                
                
                
                var edad = _.findWhere(contenido.Campos, { CampoNombre : "Edad" });

                if(contador == 0 ){ %>
                <li>
                    <div class="container clearfix">
                        <% } %>
                        <div class="grid_3 <%= contador > 0 && contador%3 == 0 ? ' omega' :'' %>">
                            <div style="background-image: url(/img/<%=contenido.ContenidoHijo.ContenidoId%>/medium);" class="cajaSimilar">
                                <article class="c_tipo1">
                                    <h3> <a href="/sinhogar/<%=contenido.ContenidoHijo.ContenidoId%>/<%=contenido.ContenidoHijo.NombreLink%>" title="<%=contenido.ContenidoHijo.DescripcionCorta%>"><%=contenido.ContenidoHijo.Nombre%></a></h3>
                                    
                                </article>
                            </div>
                        </div>
                        <%
                        
                        
                if(contador == 3){ 
                    contador=0;
                %>
                    </div>
                </li>
                <% }
                   else
                    contador++;
                }); %>
            </ul>
        </div>
        <% if(obj.VerTodos) { %>
        <div class="mas_scroll">

            <% if(obj.LinkVerTodos) { %>
            <a href="<%=obj.LinkVerTodos%>">
            <% } %>
                Ver todos
            <% if(obj.LinkVerTodos) {%>
            </a>
            <% } %>

        </div>
        <% } %>

    </section>
</script>