<section class="conteGaleria slide">
    <div class="container clearfix">
        <select id="ddlOrden" class="grid_2">
            <option>ORDENAR POR:</option>
            <option value="1">Más Nuevos</option>
            <option value="2">Más Antiguos</option>
        </select>
        <br />
        <div id="divResultadosBusqueda"></div>
    </div>
</section>
<div id="paginadorHuellitas"></div>
<div id="modalDetalleContenido"></div>

<script id="templateResultadosBusqueda" type="text/template">
    <%
    var nombreEstilo = 1;

    for (var i = 0; i < obj.length ; i++) {
    var contenido = obj[i];

    var edad = _.findWhere(contenido.Campos, { CampoId : Constantes.CampoEdadId });
    if(edad == undefined)
    edad = "";
    else if(edad.Valor == 0 )
    edad = "Menos de un año";
    else if(edad.Valor == 1 )
    edad = "1 año";
    else
    edad = edad.Valor + " años";
    %>

    <div class="grid_6 no-margin">
        <div class="cajaCaso" style="background-image:url(/img/<%=contenido.ContenidoId%>/big);">



            <article class="c_tipo<%=nombreEstilo%>">
                <h3><%=contenido.Nombre%></h3>
                <h4>EDAD: <%=  edad %></h4>
                <p><%=  contenido.Descripcion.length > 110 ? contenido.Descripcion.substring(0,110) + '...' : contenido.Descripcion %>  </p>
                <a class="btn" href="javascript:void(0)" cid="<%=contenido.ContenidoId%>">CONOCE MÁS</a>
            </article>
        </div>
    </div>
    <%
    nombreEstilo = nombreEstilo == 4 ? 1 : nombreEstilo+1;
    }

    if(obj.length == 0) { %>
    <div class="todoResul">No se encontraron resultados con tu busqueda</div>
    <% }
    else { %>
    <br />
    <div class="mas_scroll siguientePagina">Ver más</div>
    <% } %>
</script>

<script id="templateDetallePerdido" type="text/template">
    <div class="conteModal">
        <div class="grid_6">
            <img src="/img/<%=ContenidoId%>/big" />
        </div>
        <div class="grid_6 omega">
            <div class="descri_perdida">
                <div class="compartir">
                    <div id="divFacebook"></div>
                    <div id="divTwitter"></div>
                </div>
                Nombre: <%=Nombre%><br/>
                Edad: <%=Huellitas.obtenerValorCampo("Edad", Campos)%><br />
                Raza: <%=Huellitas.obtenerValorCampo("Raza", Campos)%><br />
                Zona Geográfica : <%= ZonaGeograficaZonaGeograficaPadreNombre %>, <%= ZonaGeograficaNombre %><br/>
            </div>
            <div class="parrafo">
                <p class="color1_text"><%=Descripcion%></p>
            </div>
            <form id="datosPersona" style="margin:10px 0;">
                Ingresa por favor tus datos y nos estaremos contactando lo más pronto posible.<br/><br/>
                
                <div class="grid_6"><input type="text" id="Nombres" placeholder="NOMBRES" /></div>
                <div class="grid_6 omega"><input type="text" id="Telefono" placeholder="TELÉFONO DE CONTACTO" /></div>
                <div class="grid_6"><input type="text" id="CorreoElectronico" placeholder="CORREO ELECTRONICO" /></div>
                <div class="grid_6 omega"><input type="text" id="Comentario" placeholder="OBSERVACIONES" /></div>
                <a id="btnEnviar" class="btn">Enviar</a>
                <br/>
            </form>
            <a id="btnConocido" class="btn">!Lo conozco!</a>
            <a id="btnEncontrado" class="btn">Apareció :)</a>
            <br/>
        </div>
    </div>
</script>
@Html.Partial("_CompartirRedesSociales")
