@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divInfoAdoptar">
    @Html.Partial("_InfoAdopta")
</div>



@section scripts{
    @Scripts.Render("~/bundles/slide")    
    @Scripts.Render("~/bundles/backbone_porqueAdoptar")    
}