<div id="divMainContentBackbone">
    <section class="slide slide_home" id="first" data-slide="1" data-stellar-background-ratio="0.5">
        <div id="cbp-fwslider" class="cbp-fwslider clearfix">
            <ul>
                <li>
                    <div class="container clearfix">
                        <div class="grid_6 no-margin">
                            <div style="background-image:url(images/galeria/img_01.jpg);" class="cajaCaso">
                                <article class="c_tipo1">
                                    <h3>LENON</h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. </p>
                                    <a href="javascript:;" class="btn">CONOCE MÁS</a>
                                </article>
                            </div>
                        </div>
                        <div class="grid_6 no-margin">
                            <div style="background-image:url(images/galeria/img_02.jpg);" class="cajaCaso">
                                <article class="c_tipo2">
                                    <h3>LENON</h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. </p>
                                    <a href="javascript:;" class="btn">CONOCE MÁS</a>
                                </article>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="container clearfix">
                        <div class="grid_6 no-margin">
                            <div style="background-image:url(images/galeria/img_03.jpg);" class="cajaCaso">
                                <article class="c_tipo3">
                                    <h3>LENON</h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. </p>
                                    <a href="javascript:;" class="btn">CONOCE MÁS</a>
                                </article>
                            </div>
                        </div>
                        <div class="grid_6 no-margin">
                            <div style="background-image:url(images/galeria/img_04.jpg);" class="cajaCaso">
                                <article class="c_tipo4">
                                    <h3>LENON</h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. </p>
                                    <a href="javascript:;" class="btn">CONOCE MÁS</a>
                                </article>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="slide" id="slide2" data-slide="1" data-stellar-background-ratio="0.5">
        <div class="container clearfix conteBien">
            <h2>¡BIENVENIDOS!</h2>
            <h3>ELLOS NECESITAN TU AMOR Y APOYO</h3>
            <div class="grid_4 cajax3">
                <div class="caja_icon"><span class="icon-cayuda"></span></div>
                <div class="parrafo">
                    <h3>COMO AYUDAR</h3>
                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.</p>
                </div>
                <a class="btn" huref="javascript:;">CONOCE MÁS</a>
            </div>
            <div class="grid_4 cajax3">
                <div class="caja_icon"><span class="icon-mperdida"></span></div>
                <div class="parrafo">
                    <h3>MASCOTAS PERDIDAS</h3>
                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.</p>
                </div>
                <a class="btn" href="javascript:;">CONOCE MÁS</a>
            </div>
            <div class="grid_4 cajax3 omega">
                <div class="caja_icon"><span class="icon-huella"></span></div>
                <div class="parrafo">
                    <h3>QUIERO SER VOLUNTARIO</h3>
                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.</p>
                </div>
                <a class="btn" href="javascript:;">CONOCE MÁS</a>
            </div>
        </div>
    </section>
    <section id="funda_home" data-slide="3" data-stellar-background-ratio="0.5">
        <div class="container clearfix conteFunda">
            <h2>FUNDACIONES</h2>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <ul>
                <li class="grid_3" style="background:url(images/fundaciones/logo1.png) no-repeat center;"></li>
                <li class="grid_3" style="background:url(images/fundaciones/logo1.png) no-repeat center;"></li>
                <li class="grid_3" style="background:url(images/fundaciones/logo1.png) no-repeat center;"></li>
                <li class="grid_3 omega" style="background:url(images/fundaciones/logo1.png) no-repeat center;"></li>
                <br />
            </ul>
        </div>
    </section>
    <section class="slide" id="contacto">
        <div class="container clearfix conteConta">
            <div class="bannerDona grid_5">
                <div class="tit">DONACIONES</div>
                <div class="parraDona">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</div>
                <a href="javascript:;" class="btn">LIMPIAR</a>
            </div>
            <form class="grid_7 omega">
                <h2>CONTACTANOS</h2>
                <h3>LOREM IPSUM ES SIMPLEMENTE EL TEXTO.</h3>
                <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.</p>
                <div class="grid_4">
                    <input type="text" placeholder="NOMBRE:"/>
                </div>
                <div class="grid_4">
                    <input type="text" placeholder="APELLIDOS:"/>
                </div>
                <div class="grid_4 omega">
                    <input type="tel" placeholder="CELULAR:"/>
                </div>
                <br/>
                <textarea placeholder="ESCRIBE TU COMENTARIO AQUÍ"></textarea>
                <a href="javascript:;" class="btn">LIMPIAR</a>
                <a href="javascript:;" class="btn">ENVIAR</a>
            </form>
        </div>
    </section>
    <section class="conte_nosotros slide" data-slide="2" data-stellar-background-ratio="0.5">
        <div class="container clearfix">
            <h2>QUIENES SOMOS</h2>
            <h3 class="color3_text">ELLOS NECESITAN TU AMOR Y APOYO</h3>
            <p style="font-size:18px;" class="color1_text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500.</p>
            <div class="conte_vision grid_6">
                <span class="icon-alert"></span>
                <div class="caja_vision">
                    <h4>MISIÓN</h4>
                    <p class="color1_text">Somos una Institución de Educación Superior de propiedad social, formamos personas competentes para responder a las dinámicas del mundo, contribuimos a la construcción y difusión del conocimiento, apoyamos el desarrollo competitivo del país a través de sus organizaciones y buscamos el mejoramiento de la calidad de vida de las comunidades, influidos por la economía solidaria que nos dio origen.</p>
                </div>
            </div>
            <div class="conte_vision grid_6 omega">
                <span class="icon-alert"></span>
                <div class="caja_vision">
                    <h4>VISIÓN</h4>
                    <p class="color1_text">Somos una Institución de Educación Superior de propiedad social, formamos personas competentes para responder a las dinámicas del mundo, contribuimos a la construcción y difusión del conocimiento, apoyamos el desarrollo competitivo del país a través de sus organizaciones y buscamos el mejoramiento de la calidad de vida de las comunidades, influidos por la economía solidaria que nos dio origen.</p>
                </div>
            </div>
            <br/>
            <h3 class="color3_text">NUESTRO EQUIPO</h3>
            <div class="integrantes grid_12">
                <div class="caja_integra grid_6">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br/>
                </div>
                <div class="caja_integra grid_6 omega">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br/>
                </div>
                <div class="caja_integra grid_6">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br/>
                </div>
                <div class="caja_integra grid_6 omega">
                    <div class="img"></div>
                    <div class="descri_integra">
                        <h3>GABRIEL CASTILLO - VETERINARIO</h3>
                        <p>Creador y fundador de todo el proyecto. Somos una Institución de Educación Superior de propiedad social.</p>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/slide")
}
