<div id="divMainContentBackbone">
    <section class="slide slide_home" id="first" data-slide="1" data-stellar-background-ratio="0.5">
        <div id="cbp-fwslider" class="cbp-fwslider clearfix">
            <ul>
                <li>
                    <div class="container clearfix">
                        <div class="grid_6 no-margin">
                            <div style="background:url(images/galeria/img_01.jpg) no-repeat;" class="cajaCaso">
                                <article class="c_tipo1">
                                    <h3>LENON</h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. </p>
                                    <a href="javascript:;" class="btn">CONOCE MÁS</a>
                                </article>
                            </div>
                        </div>
                        <div class="grid_6 no-margin">
                            <div style="background:url(images/galeria/img_02.jpg) no-repeat;" class="cajaCaso">
                                <article class="c_tipo2">
                                    <h3>LENON</h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. </p>
                                    <a href="javascript:;" class="btn">CONOCE MÁS</a>
                                </article>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="container clearfix">
                        <div class="grid_6 no-margin">
                            <div style="background:url(images/galeria/img_03.jpg) no-repeat;" class="cajaCaso">
                                <article class="c_tipo3">
                                    <h3>LENON</h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. </p>
                                    <a href="javascript:;" class="btn">CONOCE MÁS</a>
                                </article>
                            </div>
                        </div>
                        <div class="grid_6 no-margin">
                            <div style="background:url(images/galeria/img_04.jpg) no-repeat;" class="cajaCaso">
                                <article class="c_tipo4">
                                    <h3>LENON</h3>
                                    <h4>EDAD: 1 AÑO - BULL DOG - BOGOTÁ</h4>
                                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus. </p>
                                    <a href="javascript:;" class="btn">CONOCE MÁS</a>
                                </article>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="slide" id="slide2" data-slide="1" data-stellar-background-ratio="0.5">
        <div class="container clearfix conteBien">
            <h2>¡BIENVENIDOS!</h2>
            <h3>ELLOS NECESITAN TU AMOR Y APOYO</h3>
            <div class="grid_4 cajax3">
                <div class="caja_icon"><span class="icon-eliminar"></span></div>
                <div class="parrafo">
                    <h3>COMO AYDAR</h3>
                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.</p>
                </div>
                <a class="btn" huref="javascript:;">CONOCE MÁS</a>
            </div>
            <div class="grid_4 cajax3">
                <div class="caja_icon"><span class="icon-eliminar"></span></div>
                <div class="parrafo">
                    <h3>COMO AYUDAR</h3>
                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.</p>
                </div>
                <a class="btn" href="javascript:;">CONOCE MÁS</a>
            </div>
            <div class="grid_4 cajax3 omega">
                <div class="caja_icon"><span class="icon-eliminar"></span></div>
                <div class="parrafo">
                    <h3>COMO AYUDAR</h3>
                    <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.</p>
                </div>
                <a class="btn" href="javascript:;">CONOCE MÁS</a>
            </div>
        </div>
    </section>
    <section class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
        <div class="container clearfix conteFunda">
            <h2>FUNDACIONES</h2>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</p>
            <ul>
                <li class="grid_3" style="background:url(images/fundaciones/logo1.png) no-repeat center;"></li>
                <li class="grid_3" style="background:url(images/fundaciones/logo1.png) no-repeat center;"></li>
                <li class="grid_3" style="background:url(images/fundaciones/logo1.png) no-repeat center;"></li>
                <li class="grid_3 omega" style="background:url(images/fundaciones/logo1.png) no-repeat center;"></li>
                <br />
            </ul>
        </div>
    </section>
    <section class="slide no-padding" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
        <div class="container clearfix conteConta">
            <div class="grid_5 no-margin">
                <div class="bannerDona">
                    <div class="tit">DONACIONES</div>
                    <div class="parraDona">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.</div>
                    <a href="javascript:;" class="btn">LIMPIAR</a>
                </div>
            </div>
            <form class="grid_7 omega">
                <h2>CONTACTANOS</h2>
                <h3>LOREM IPSUM ES SIMPLEMENTE EL TEXTO DE RELLENO DE LAS IMPRENTAS Y ARCHIVOS DE TEXTO</h3>
                <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.</p>
                <input type="text" class="grid_4" placeholder="NOMBRE:" />
                <input type="text" class="grid_4" placeholder="APELLIDOS:" />
                <input type="tel" class="grid_4 omega" placeholder="CELULAR:" />
                <br />
                <textarea placeholder="ESCRIBE TU COMENTARIO AQUÍ"></textarea>
                <a href="javascript:;" class="btn">LIMPIAR</a>
                <a href="javascript:;" class="btn">ENVIAR</a>
            </form>
        </div>
    </section>

</div>


@section scripts
{
<script src="~/Scripts/libs/jquery.cbpFWSlider.js"></script>
}
