<script id="templateCompartirFacebook" type="text/template">
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%=obj%>" target="_blank" class="fb"></a>
</script>
<script src="~/Scripts/views/huellitas.FacebookShareView.js"></script>
<script id="templateCompartirTwitter" type="text/template">
    <a href="https://twitter.com/intent/tweet?via=huellitasco&source=webclient&url=<%=obj.Url%>&text=<%=obj.Texto%>&original_referer=<%=obj.Url%>" target="_blank" class="twt"></a>
</script>
<script src="~/Scripts/views/huellitas.TwitterShareView.js"></script>