<script id="templateCompartirFacebook" type="text/template">
    <a href="javascript:void(0);" target="_blank" class="fb icon-face"></a>
    @*<a href="https://www.facebook.com/dialog/feed?app_id=755766524497930&display=popup&link=<%=obj%>&picture=http://huellitas.social/images/logo.svg" target="_blank" class="fb icon-face"></a>*@
</script>

<script id="templateCompartirTwitter" type="text/template">
    <a href="javascript:void(0);" target="_blank" class="twt icon-twt"></a>
</script>


