<script id="templateComentarios" type="text/template">

    <section class="conte_comentarios slide">
        <div class="container clearfix">
            <h2>COMENTARIOS</h2>
            <h3>LOREM IPSUM ES SIMPLEMENTE EL TEXTO DE RELLENO DE LAS IMPRENTAS</h3>
            <form>
                <div class="grid_6"
                    ><input type="text" id="UsuarioNombres" placeholder="NOMBRE*" />
                    <span class="obliga" id="UsuarioNombresError"></span>
                </div>
                <div class="grid_6 omega">
                    <input type="text" id="CorreoElectronico" placeholder="CORREO ELECTRÓNICO*" />
                    <span class="obliga" id="CorreoElectronicoError"></span>
                </div>
            </form>
            <textarea placeholder="DEJANOS TU COMENTARIO:" id="Texto"></textarea><span class="obliga" id="TextoError"></span>
            <a id="btnGuardarComentario" class="btn">COMENTAR</a>
            <br />
            <ul>

                <%
                _.each(obj, function(comentario){     %>

                <li class="comentario">
                    <h4><%= comentario.UsuarioNombres %> - <%= comentario.FechaCreacion %></h4>
                    <p><%= comentario.Texto %></p>
                </li>


                <% }) %>

                <% if(obj.length > 0){ %>
                <div class="mas_scroll" id="btnSiguientePagina">Ver más</div>
                <%}%>

            </ul>
        </div>
</script>
<script src="~/Scripts/models/huellitas.Comentario.js"></script>
<script src="~/Scripts/views/huellitas.ComentariosView.js"></script>



















</section>
