
<script type="text/template" id="templateCargaArchivo">
    <input name='<%=name%>' type='file' id="inputArchivo" />
    <div style="display:none" id="divNombreArchivo"><a href="javascript:void(0)" title="Eliminar y cargar otra imagen">Borrar</a></div>
</script>


<script src="~/Scripts/models/huellitas.Archivo.js"></script>
<script src="~/Scripts/views/huellitas.SubirArchivoView.js"></script>
