<script type="text/template" id="templateCampoAdicional">
    <div class="form-group">
        <label><%= CampoNombre %></label>
        <div>
            <% if(CampoTipoDato == @((int)LoginCol.Huellitas.Entidades.TipoDatoCampo.Relacional)) { %>
            <select id="idCampoAdicional_<%= CampoId %>" class="form-control">

                <%
                    for(var i = 0; i < CampoOpciones.length ; i++)
                    { %>
                      
                      <option value="<%= CampoOpciones[i].OpcionId %>"><%= CampoOpciones[i].Texto %></option>
                      <%
                    }
                %>

            </select>
            <% }
            else
            { %>
            <input type="text" id="idCampoAdicional_<%= CampoId %>" class="form-control" />
            <% } %>
        </div>
    </div>
</script>

