<div id="divImagenesContenido" style="display:none">
    <div class="box-inner">
        <div data-original-title="" class="box-header well">
            <h2><i class="glyphicon glyphicon-picture"></i> Gallery</h2>
            <div class="box-icon">
                <a class="btn btn-setting btn-round btn-default" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                <a class="btn btn-minimize btn-round btn-default" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                <a class="btn btn-close btn-round btn-default" href="#"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <br>
            <ul class="thumbnails gallery" id="ulImagenes"></ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="templateImagenesContenido">
   
</script>

<script type="text/template" id="templateFilaImagenContenido">
    <li class="thumbnail" id="image-<%= ContenidoHijo.ContenidoId %>">
        <a href="/img/<%= ContenidoHijo.ContenidoId %>/big" title="<%= ContenidoHijo.Nombre %>" style="background:url(/img/<%= ContenidoHijo.ContenidoId %>/mini)" class="cboxElement"><img alt="Sample Image 1" src="/img/<%= ContenidoHijo.ContenidoId %>/mini" class="grayscale" style="display: block; width: 100px; height: 100px"></a>
    </li>
</script>

<script src="~/Scripts/models/huellitas.admin.Imagen.js"></script>
<script src="~/Scripts/views/huellitas.admin.GaleriaContenidoView.js"></script>