@model LoginCol.Huellitas.Web.Models.Admin.ListarContenidoModel
@{
    ViewBag.Title = ".: Administrador Huellitas sin Hogar :.";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="divVistaListarContenidos" style="display:none">
    @Html.Partial("~/Views/Administracion/Contenido/_Listado.cshtml")
</div>

@Html.Partial("~/Views/Administracion/Contenido/_Editar.cshtml", Model.Contenido)

@section scripts
{
    <script src="~/Scripts/views/huellitas.admin.ContenidoEditarView.js"></script>    
    <script src="~/Scripts/models/huellitas.admin.TipoRelacionContenido.js"></script>
    <script src="~/Scripts/views/huellitas.ImagenContenidoView.js"></script>    
    <script src="~/Scripts/views/huellitas.admin.AgregarContenidoRelacionadoView.js"></script>
    <script src="~/Scripts/views/huellitas.admin.AgregarUsuarioRelacionadoView.js"></script>
    @Scripts.Render("~/bundles/backbonevalidation")
    @Scripts.Render("~/bundles/backbone_cargaArchivo")    
}
