USE [Huellitas]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ZonaGeografica_dbo.ZonaGeografica_ZonaGeograficaPadre_ZonaGeograficaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ZonaGeografica]'))
ALTER TABLE [dbo].[ZonaGeografica] DROP CONSTRAINT [FK_dbo.ZonaGeografica_dbo.ZonaGeografica_ZonaGeograficaPadre_ZonaGeograficaId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ValorCampo_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ValorCampo]'))
ALTER TABLE [dbo].[ValorCampo] DROP CONSTRAINT [FK_dbo.ValorCampo_dbo.Contenido_ContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ValorCampo_dbo.Campo_CampoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ValorCampo]'))
ALTER TABLE [dbo].[ValorCampo] DROP CONSTRAINT [FK_dbo.ValorCampo_dbo.Campo_CampoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UsuarioContenido_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]'))
ALTER TABLE [dbo].[UsuarioContenido] DROP CONSTRAINT [FK_dbo.UsuarioContenido_dbo.Usuario_UsuarioId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UsuarioContenido_dbo.TipoRelacion_TipoRelacionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]'))
ALTER TABLE [dbo].[UsuarioContenido] DROP CONSTRAINT [FK_dbo.UsuarioContenido_dbo.TipoRelacion_TipoRelacionId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UsuarioContenido_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]'))
ALTER TABLE [dbo].[UsuarioContenido] DROP CONSTRAINT [FK_dbo.UsuarioContenido_dbo.Contenido_ContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Usuario_dbo.ZonaGeografica_ZonaGeograficaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario]'))
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [FK_dbo.Usuario_dbo.ZonaGeografica_ZonaGeograficaId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Usuario_dbo.TablaBasica_Ocupacion_TablaBasicaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario]'))
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [FK_dbo.Usuario_dbo.TablaBasica_Ocupacion_TablaBasicaId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Usuario_dbo.TablaBasica_EstadoCivil_TablaBasicaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario]'))
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [FK_dbo.Usuario_dbo.TablaBasica_EstadoCivil_TablaBasicaId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacionTipoContenido_dbo.TipoRelacionContenido_TipoRelacionContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]'))
ALTER TABLE [dbo].[TipoRelacionTipoContenido] DROP CONSTRAINT [FK_dbo.TipoRelacionTipoContenido_dbo.TipoRelacionContenido_TipoRelacionContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacionTipoContenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]'))
ALTER TABLE [dbo].[TipoRelacionTipoContenido] DROP CONSTRAINT [FK_dbo.TipoRelacionTipoContenido_dbo.TipoContenido_TipoContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacionContenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacionContenido]'))
ALTER TABLE [dbo].[TipoRelacionContenido] DROP CONSTRAINT [FK_dbo.TipoRelacionContenido_dbo.TipoContenido_TipoContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacion_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacion]'))
ALTER TABLE [dbo].[TipoRelacion] DROP CONSTRAINT [FK_dbo.TipoRelacion_dbo.TipoContenido_TipoContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoContenido_dbo.TipoContenido_TipoContenidoPadre_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoContenido]'))
ALTER TABLE [dbo].[TipoContenido] DROP CONSTRAINT [FK_dbo.TipoContenido_dbo.TipoContenido_TipoContenidoPadre_TipoContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.RespuestaAdopcion_dbo.FormularioAdopcion_FormularioAdopcionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]'))
ALTER TABLE [dbo].[RespuestaAdopcion] DROP CONSTRAINT [FK_dbo.RespuestaAdopcion_dbo.FormularioAdopcion_FormularioAdopcionId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.RespuestaAdopcion_dbo.DatoTablaBasica_PreguntaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]'))
ALTER TABLE [dbo].[RespuestaAdopcion] DROP CONSTRAINT [FK_dbo.RespuestaAdopcion_dbo.DatoTablaBasica_PreguntaId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.OpcionCampo_dbo.Campo_CampoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[OpcionCampo]'))
ALTER TABLE [dbo].[OpcionCampo] DROP CONSTRAINT [FK_dbo.OpcionCampo_dbo.Campo_CampoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.FormularioAdopcion_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]'))
ALTER TABLE [dbo].[FormularioAdopcion] DROP CONSTRAINT [FK_dbo.FormularioAdopcion_dbo.Usuario_UsuarioId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.FormularioAdopcion_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]'))
ALTER TABLE [dbo].[FormularioAdopcion] DROP CONSTRAINT [FK_dbo.FormularioAdopcion_dbo.Contenido_ContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DatoTablaBasica_dbo.TablaBasica_TablaBasicaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatoTablaBasica]'))
ALTER TABLE [dbo].[DatoTablaBasica] DROP CONSTRAINT [FK_dbo.DatoTablaBasica_dbo.TablaBasica_TablaBasicaId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContenidoRelacionado_dbo.TipoRelacionContenido_TipoRelacionContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]'))
ALTER TABLE [dbo].[ContenidoRelacionado] DROP CONSTRAINT [FK_dbo.ContenidoRelacionado_dbo.TipoRelacionContenido_TipoRelacionContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoPadreId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]'))
ALTER TABLE [dbo].[ContenidoRelacionado] DROP CONSTRAINT [FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoPadreId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]'))
ALTER TABLE [dbo].[ContenidoRelacionado] DROP CONSTRAINT [FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Contenido_dbo.ZonaGeografica_ZonaGeograficaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contenido]'))
ALTER TABLE [dbo].[Contenido] DROP CONSTRAINT [FK_dbo.Contenido_dbo.ZonaGeografica_ZonaGeograficaId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Contenido_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contenido]'))
ALTER TABLE [dbo].[Contenido] DROP CONSTRAINT [FK_dbo.Contenido_dbo.Usuario_UsuarioId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Contenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contenido]'))
ALTER TABLE [dbo].[Contenido] DROP CONSTRAINT [FK_dbo.Contenido_dbo.TipoContenido_TipoContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Comentario_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Comentario]'))
ALTER TABLE [dbo].[Comentario] DROP CONSTRAINT [FK_dbo.Comentario_dbo.Usuario_UsuarioId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Comentario_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Comentario]'))
ALTER TABLE [dbo].[Comentario] DROP CONSTRAINT [FK_dbo.Comentario_dbo.Contenido_ContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.CampoTipoContenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]'))
ALTER TABLE [dbo].[CampoTipoContenido] DROP CONSTRAINT [FK_dbo.CampoTipoContenido_dbo.TipoContenido_TipoContenidoId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.CampoTipoContenido_dbo.Campo_CampoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]'))
ALTER TABLE [dbo].[CampoTipoContenido] DROP CONSTRAINT [FK_dbo.CampoTipoContenido_dbo.Campo_CampoId]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ZonaGeogr__Activ__503BEA1C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ZonaGeografica] DROP CONSTRAINT [DF__ZonaGeogr__Activ__503BEA1C]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Usuario__EsAdmin__47DBAE45]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [DF__Usuario__EsAdmin__47DBAE45]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TipoRelac__Maxim__3E52440B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TipoRelacionContenido] DROP CONSTRAINT [DF__TipoRelac__Maxim__3E52440B]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TipoRelac__TipoC__3D5E1FD2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TipoRelacionContenido] DROP CONSTRAINT [DF__TipoRelac__TipoC__3D5E1FD2]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TipoRelac__Activ__4F47C5E3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TipoRelacion] DROP CONSTRAINT [DF__TipoRelac__Activ__4F47C5E3]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Respuesta__Pregu__1A9EF37A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RespuestaAdopcion] DROP CONSTRAINT [DF__Respuesta__Pregu__1A9EF37A]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OpcionCam__Activ__4E53A1AA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OpcionCampo] DROP CONSTRAINT [DF__OpcionCam__Activ__4E53A1AA]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Formulari__Miemb__0F2D40CE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FormularioAdopcion] DROP CONSTRAINT [DF__Formulari__Miemb__0F2D40CE]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Formulari__Usuar__0880433F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FormularioAdopcion] DROP CONSTRAINT [DF__Formulari__Usuar__0880433F]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Formulari__Fecha__7E02B4CC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FormularioAdopcion] DROP CONSTRAINT [DF__Formulari__Fecha__7E02B4CC]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Contenido__Descr__1C873BEC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Contenido] DROP CONSTRAINT [DF__Contenido__Descr__1C873BEC]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Contenido__Desta__607251E5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Contenido] DROP CONSTRAINT [DF__Contenido__Desta__607251E5]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Contenido__Elimi__398D8EEE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Contenido] DROP CONSTRAINT [DF__Contenido__Elimi__398D8EEE]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Contenido__Activ__2E1BDC42]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Contenido] DROP CONSTRAINT [DF__Contenido__Activ__2E1BDC42]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Campo__Activo__4D5F7D71]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Campo] DROP CONSTRAINT [DF__Campo__Activo__4D5F7D71]
END

GO
/****** Object:  Index [IX_ZonaGeograficaPadreId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ZonaGeografica]') AND name = N'IX_ZonaGeograficaPadreId')
DROP INDEX [IX_ZonaGeograficaPadreId] ON [dbo].[ZonaGeografica]
GO
/****** Object:  Index [IX_ContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ValorCampo]') AND name = N'IX_ContenidoId')
DROP INDEX [IX_ContenidoId] ON [dbo].[ValorCampo]
GO
/****** Object:  Index [IX_CampoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ValorCampo]') AND name = N'IX_CampoId')
DROP INDEX [IX_CampoId] ON [dbo].[ValorCampo]
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]') AND name = N'IX_UsuarioId')
DROP INDEX [IX_UsuarioId] ON [dbo].[UsuarioContenido]
GO
/****** Object:  Index [IX_TipoRelacionId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]') AND name = N'IX_TipoRelacionId')
DROP INDEX [IX_TipoRelacionId] ON [dbo].[UsuarioContenido]
GO
/****** Object:  Index [IX_ContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]') AND name = N'IX_ContenidoId')
DROP INDEX [IX_ContenidoId] ON [dbo].[UsuarioContenido]
GO
/****** Object:  Index [IX_ZonaGeograficaId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND name = N'IX_ZonaGeograficaId')
DROP INDEX [IX_ZonaGeograficaId] ON [dbo].[Usuario]
GO
/****** Object:  Index [IX_OcupacionId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND name = N'IX_OcupacionId')
DROP INDEX [IX_OcupacionId] ON [dbo].[Usuario]
GO
/****** Object:  Index [IX_EstadoCivilId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND name = N'IX_EstadoCivilId')
DROP INDEX [IX_EstadoCivilId] ON [dbo].[Usuario]
GO
/****** Object:  Index [IX_TipoRelacionContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]') AND name = N'IX_TipoRelacionContenidoId')
DROP INDEX [IX_TipoRelacionContenidoId] ON [dbo].[TipoRelacionTipoContenido]
GO
/****** Object:  Index [IX_TipoContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]') AND name = N'IX_TipoContenidoId')
DROP INDEX [IX_TipoContenidoId] ON [dbo].[TipoRelacionTipoContenido]
GO
/****** Object:  Index [IX_TipoContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacionContenido]') AND name = N'IX_TipoContenidoId')
DROP INDEX [IX_TipoContenidoId] ON [dbo].[TipoRelacionContenido]
GO
/****** Object:  Index [IX_TipoContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacion]') AND name = N'IX_TipoContenidoId')
DROP INDEX [IX_TipoContenidoId] ON [dbo].[TipoRelacion]
GO
/****** Object:  Index [IX_TipoContenidoPadreId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TipoContenido]') AND name = N'IX_TipoContenidoPadreId')
DROP INDEX [IX_TipoContenidoPadreId] ON [dbo].[TipoContenido]
GO
/****** Object:  Index [IX_PreguntaId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]') AND name = N'IX_PreguntaId')
DROP INDEX [IX_PreguntaId] ON [dbo].[RespuestaAdopcion]
GO
/****** Object:  Index [IX_FormularioAdopcionId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]') AND name = N'IX_FormularioAdopcionId')
DROP INDEX [IX_FormularioAdopcionId] ON [dbo].[RespuestaAdopcion]
GO
/****** Object:  Index [IX_CampoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OpcionCampo]') AND name = N'IX_CampoId')
DROP INDEX [IX_CampoId] ON [dbo].[OpcionCampo]
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]') AND name = N'IX_UsuarioId')
DROP INDEX [IX_UsuarioId] ON [dbo].[FormularioAdopcion]
GO
/****** Object:  Index [IX_ContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]') AND name = N'IX_ContenidoId')
DROP INDEX [IX_ContenidoId] ON [dbo].[FormularioAdopcion]
GO
/****** Object:  Index [IX_TablaBasicaId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[DatoTablaBasica]') AND name = N'IX_TablaBasicaId')
DROP INDEX [IX_TablaBasicaId] ON [dbo].[DatoTablaBasica]
GO
/****** Object:  Index [IX_TipoRelacionContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]') AND name = N'IX_TipoRelacionContenidoId')
DROP INDEX [IX_TipoRelacionContenidoId] ON [dbo].[ContenidoRelacionado]
GO
/****** Object:  Index [IX_ContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]') AND name = N'IX_ContenidoId')
DROP INDEX [IX_ContenidoId] ON [dbo].[ContenidoRelacionado]
GO
/****** Object:  Index [IX_ContenidoHijoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]') AND name = N'IX_ContenidoHijoId')
DROP INDEX [IX_ContenidoHijoId] ON [dbo].[ContenidoRelacionado]
GO
/****** Object:  Index [IX_ZonaGeograficaId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Contenido]') AND name = N'IX_ZonaGeograficaId')
DROP INDEX [IX_ZonaGeograficaId] ON [dbo].[Contenido]
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Contenido]') AND name = N'IX_UsuarioId')
DROP INDEX [IX_UsuarioId] ON [dbo].[Contenido]
GO
/****** Object:  Index [IX_TipoContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Contenido]') AND name = N'IX_TipoContenidoId')
DROP INDEX [IX_TipoContenidoId] ON [dbo].[Contenido]
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Comentario]') AND name = N'IX_UsuarioId')
DROP INDEX [IX_UsuarioId] ON [dbo].[Comentario]
GO
/****** Object:  Index [IX_ContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Comentario]') AND name = N'IX_ContenidoId')
DROP INDEX [IX_ContenidoId] ON [dbo].[Comentario]
GO
/****** Object:  Index [IX_TipoContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]') AND name = N'IX_TipoContenidoId')
DROP INDEX [IX_TipoContenidoId] ON [dbo].[CampoTipoContenido]
GO
/****** Object:  Index [IX_CampoId]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]') AND name = N'IX_CampoId')
DROP INDEX [IX_CampoId] ON [dbo].[CampoTipoContenido]
GO
/****** Object:  Table [dbo].[ZonaGeografica]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZonaGeografica]') AND type in (N'U'))
DROP TABLE [dbo].[ZonaGeografica]
GO
/****** Object:  Table [dbo].[ValorCampo]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValorCampo]') AND type in (N'U'))
DROP TABLE [dbo].[ValorCampo]
GO
/****** Object:  Table [dbo].[UsuarioContenido]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]') AND type in (N'U'))
DROP TABLE [dbo].[UsuarioContenido]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[TipoRelacionTipoContenido]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]') AND type in (N'U'))
DROP TABLE [dbo].[TipoRelacionTipoContenido]
GO
/****** Object:  Table [dbo].[TipoRelacionContenido]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacionContenido]') AND type in (N'U'))
DROP TABLE [dbo].[TipoRelacionContenido]
GO
/****** Object:  Table [dbo].[TipoRelacion]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacion]') AND type in (N'U'))
DROP TABLE [dbo].[TipoRelacion]
GO
/****** Object:  Table [dbo].[TipoContenido]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoContenido]') AND type in (N'U'))
DROP TABLE [dbo].[TipoContenido]
GO
/****** Object:  Table [dbo].[TablaBasica]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TablaBasica]') AND type in (N'U'))
DROP TABLE [dbo].[TablaBasica]
GO
/****** Object:  Table [dbo].[RespuestaAdopcion]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]') AND type in (N'U'))
DROP TABLE [dbo].[RespuestaAdopcion]
GO
/****** Object:  Table [dbo].[Parametrizacion]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Parametrizacion]') AND type in (N'U'))
DROP TABLE [dbo].[Parametrizacion]
GO
/****** Object:  Table [dbo].[OpcionCampo]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OpcionCampo]') AND type in (N'U'))
DROP TABLE [dbo].[OpcionCampo]
GO
/****** Object:  Table [dbo].[FormularioAdopcion]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]') AND type in (N'U'))
DROP TABLE [dbo].[FormularioAdopcion]
GO
/****** Object:  Table [dbo].[DatoTablaBasica]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatoTablaBasica]') AND type in (N'U'))
DROP TABLE [dbo].[DatoTablaBasica]
GO
/****** Object:  Table [dbo].[ContenidoRelacionado]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]') AND type in (N'U'))
DROP TABLE [dbo].[ContenidoRelacionado]
GO
/****** Object:  Table [dbo].[Contenido]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contenido]') AND type in (N'U'))
DROP TABLE [dbo].[Contenido]
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Comentario]') AND type in (N'U'))
DROP TABLE [dbo].[Comentario]
GO
/****** Object:  Table [dbo].[CampoTipoContenido]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]') AND type in (N'U'))
DROP TABLE [dbo].[CampoTipoContenido]
GO
/****** Object:  Table [dbo].[Campo]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Campo]') AND type in (N'U'))
DROP TABLE [dbo].[Campo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [Huellitas]    Script Date: 12/12/14 14:36:03 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'Huellitas')
DROP DATABASE [Huellitas]
GO
/****** Object:  Database [Huellitas]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Huellitas')
BEGIN
CREATE DATABASE [Huellitas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Huellitas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Huellitas.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Huellitas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Huellitas_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Huellitas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Huellitas]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Campo]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Campo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Campo](
	[CampoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[TipoDato] [int] NOT NULL,
	[ConsultaSql] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Campo] PRIMARY KEY CLUSTERED 
(
	[CampoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CampoTipoContenido]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CampoTipoContenido](
	[CampoTipoContenidoId] [int] IDENTITY(1,1) NOT NULL,
	[CampoId] [int] NOT NULL,
	[TipoContenidoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CampoTipoContenido] PRIMARY KEY CLUSTERED 
(
	[CampoTipoContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Comentario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Comentario](
	[ComentarioId] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [nvarchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[ContenidoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Comentario] PRIMARY KEY CLUSTERED 
(
	[ComentarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Contenido]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contenido]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Contenido](
	[ContenidoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Visitas] [int] NOT NULL,
	[Comentarios] [int] NOT NULL,
	[Votos] [int] NOT NULL,
	[PromedioVotos] [decimal](18, 2) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
	[FechaPublicacion] [datetime] NULL,
	[TipoContenidoId] [int] NOT NULL,
	[MeGusta] [int] NOT NULL,
	[Compartidos] [int] NOT NULL,
	[Imagen] [nvarchar](20) NULL,
	[ZonaGeograficaId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[UsuarioId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Eliminado] [bit] NOT NULL,
	[UrlVideo] [nvarchar](max) NULL,
	[Destacado] [bit] NOT NULL,
	[DescripcionCorta] [nvarchar](130) NOT NULL,
 CONSTRAINT [PK_dbo.Contenido] PRIMARY KEY CLUSTERED 
(
	[ContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ContenidoRelacionado]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContenidoRelacionado](
	[ContenidoRelacionadoId] [int] IDENTITY(1,1) NOT NULL,
	[ContenidoId] [int] NOT NULL,
	[ContenidoHijoId] [int] NOT NULL,
	[TipoRelacionContenidoId] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ContenidoRelacionado] PRIMARY KEY CLUSTERED 
(
	[ContenidoRelacionadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DatoTablaBasica]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatoTablaBasica]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DatoTablaBasica](
	[DatoTablaBasicaId] [int] IDENTITY(1,1) NOT NULL,
	[TablaBasicaId] [int] NOT NULL,
	[Valor] [nvarchar](max) NULL,
	[ValorIngles] [nvarchar](max) NULL,
	[PadreId] [int] NULL,
	[Activo] [bit] NOT NULL,
	[CodigoExterno] [nvarchar](max) NULL,
	[InformacionAdicional] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DatoTablaBasica] PRIMARY KEY CLUSTERED 
(
	[DatoTablaBasicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FormularioAdopcion]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FormularioAdopcion](
	[FormularioAdopcionId] [int] IDENTITY(1,1) NOT NULL,
	[ContenidoId] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[MiembrosFamilia] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FormularioAdopcion] PRIMARY KEY CLUSTERED 
(
	[FormularioAdopcionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[OpcionCampo]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OpcionCampo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OpcionCampo](
	[OpcionId] [int] IDENTITY(1,1) NOT NULL,
	[CampoId] [int] NOT NULL,
	[Texto] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OpcionCampo] PRIMARY KEY CLUSTERED 
(
	[OpcionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Parametrizacion]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Parametrizacion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Parametrizacion](
	[Llave] [nvarchar](50) NOT NULL,
	[Valor] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_dbo.Parametrizacion] PRIMARY KEY CLUSTERED 
(
	[Llave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RespuestaAdopcion]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RespuestaAdopcion](
	[RespuestaAdopcionId] [int] IDENTITY(1,1) NOT NULL,
	[FormularioAdopcionId] [int] NOT NULL,
	[Respuesta] [nvarchar](max) NULL,
	[PreguntaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RespuestaAdopcion] PRIMARY KEY CLUSTERED 
(
	[RespuestaAdopcionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TablaBasica]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TablaBasica]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TablaBasica](
	[TablaBasicaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TablaBasica] PRIMARY KEY CLUSTERED 
(
	[TablaBasicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TipoContenido]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoContenido]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TipoContenido](
	[TipoContenidoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[TipoContenidoPadreId] [int] NULL,
 CONSTRAINT [PK_dbo.TipoContenido] PRIMARY KEY CLUSTERED 
(
	[TipoContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TipoRelacion]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacion]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TipoRelacion](
	[TipoRelacionId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[TipoContenidoId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TipoRelacion] PRIMARY KEY CLUSTERED 
(
	[TipoRelacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TipoRelacionContenido]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacionContenido]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TipoRelacionContenido](
	[TipoRelacionContenidoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[TipoContenidoId] [int] NOT NULL,
	[MaximoRegistros] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TipoRelacionContenido] PRIMARY KEY CLUSTERED 
(
	[TipoRelacionContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TipoRelacionTipoContenido]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TipoRelacionTipoContenido](
	[TipoRelacionTipoContenidoId] [int] IDENTITY(1,1) NOT NULL,
	[TipoContenidoId] [int] NOT NULL,
	[TipoRelacionContenidoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TipoRelacionTipoContenido] PRIMARY KEY CLUSTERED 
(
	[TipoRelacionTipoContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](max) NOT NULL,
	[Clave] [nvarchar](50) NOT NULL,
	[NumeroDocumento] [nvarchar](15) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
	[Activo] [bit] NOT NULL,
	[EsAdministrador] [bit] NOT NULL,
	[Direccion] [nvarchar](max) NULL,
	[Telefono] [nvarchar](max) NULL,
	[Celular] [nvarchar](max) NULL,
	[EstadoCivilId] [int] NULL,
	[OcupacionId] [int] NULL,
	[FechaNacimiento] [datetime] NULL,
	[ZonaGeograficaId] [int] NULL,
 CONSTRAINT [PK_dbo.Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UsuarioContenido]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UsuarioContenido](
	[UsuarioContenidoId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[ContenidoId] [int] NOT NULL,
	[TipoRelacionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UsuarioContenido] PRIMARY KEY CLUSTERED 
(
	[UsuarioContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ValorCampo]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ValorCampo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ValorCampo](
	[ValorCampoId] [int] IDENTITY(1,1) NOT NULL,
	[CampoId] [int] NOT NULL,
	[ContenidoId] [int] NOT NULL,
	[Valor] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.ValorCampo] PRIMARY KEY CLUSTERED 
(
	[ValorCampoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ZonaGeografica]    Script Date: 12/12/14 14:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ZonaGeografica]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ZonaGeografica](
	[ZonaGeograficaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[CodigoExterno] [nvarchar](max) NULL,
	[ZonaGeograficaPadreId] [int] NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ZonaGeografica] PRIMARY KEY CLUSTERED 
(
	[ZonaGeograficaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Campo] ON 

INSERT [dbo].[Campo] ([CampoId], [Nombre], [TipoDato], [ConsultaSql], [Activo]) VALUES (1, N'Color', 4, NULL, 1)
INSERT [dbo].[Campo] ([CampoId], [Nombre], [TipoDato], [ConsultaSql], [Activo]) VALUES (3, N'Tamaño', 4, NULL, 1)
INSERT [dbo].[Campo] ([CampoId], [Nombre], [TipoDato], [ConsultaSql], [Activo]) VALUES (4, N'Edad', 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Campo] OFF
SET IDENTITY_INSERT [dbo].[CampoTipoContenido] ON 

INSERT [dbo].[CampoTipoContenido] ([CampoTipoContenidoId], [CampoId], [TipoContenidoId]) VALUES (1, 1, 4)
INSERT [dbo].[CampoTipoContenido] ([CampoTipoContenidoId], [CampoId], [TipoContenidoId]) VALUES (2, 3, 4)
INSERT [dbo].[CampoTipoContenido] ([CampoTipoContenidoId], [CampoId], [TipoContenidoId]) VALUES (3, 4, 4)
SET IDENTITY_INSERT [dbo].[CampoTipoContenido] OFF
SET IDENTITY_INSERT [dbo].[Comentario] ON 

INSERT [dbo].[Comentario] ([ComentarioId], [Texto], [Activo], [FechaCreacion], [UsuarioId], [ContenidoId]) VALUES (1, N'1', 1, CAST(0x0000901A00000000 AS DateTime), 1, 1016)
INSERT [dbo].[Comentario] ([ComentarioId], [Texto], [Activo], [FechaCreacion], [UsuarioId], [ContenidoId]) VALUES (2, N'2', 1, CAST(0x0000901A00000000 AS DateTime), 1, 1016)
INSERT [dbo].[Comentario] ([ComentarioId], [Texto], [Activo], [FechaCreacion], [UsuarioId], [ContenidoId]) VALUES (1002, N'3', 1, CAST(0x0000A3D401791538 AS DateTime), 3, 1016)
SET IDENTITY_INSERT [dbo].[Comentario] OFF
SET IDENTITY_INSERT [dbo].[Contenido] ON 

INSERT [dbo].[Contenido] ([ContenidoId], [Nombre], [Descripcion], [Visitas], [Comentarios], [Votos], [PromedioVotos], [FechaCreacion], [FechaActualizacion], [FechaPublicacion], [TipoContenidoId], [MeGusta], [Compartidos], [Imagen], [ZonaGeograficaId], [Email], [Facebook], [Twitter], [UsuarioId], [Activo], [Eliminado], [UrlVideo], [Destacado], [DescripcionCorta]) VALUES (1017, N'nueva', N'otra', 0, 0, 0, CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A3C200B2A5BC AS DateTime), NULL, NULL, 1, 0, 0, NULL, 1, NULL, NULL, NULL, 1, 0, 0, NULL, 0, N'Ingresar descripción')
INSERT [dbo].[Contenido] ([ContenidoId], [Nombre], [Descripcion], [Visitas], [Comentarios], [Votos], [PromedioVotos], [FechaCreacion], [FechaActualizacion], [FechaPublicacion], [TipoContenidoId], [MeGusta], [Compartidos], [Imagen], [ZonaGeograficaId], [Email], [Facebook], [Twitter], [UsuarioId], [Activo], [Eliminado], [UrlVideo], [Destacado], [DescripcionCorta]) VALUES (2016, N'yy', N'yyy', 0, 0, 0, CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A3C20165A5B8 AS DateTime), NULL, NULL, 1, 0, 0, NULL, 1, NULL, NULL, NULL, 1, 0, 0, NULL, 0, N'Ingresar descripción')
SET IDENTITY_INSERT [dbo].[Contenido] OFF
SET IDENTITY_INSERT [dbo].[ContenidoRelacionado] ON 

INSERT [dbo].[ContenidoRelacionado] ([ContenidoRelacionadoId], [ContenidoId], [ContenidoHijoId], [TipoRelacionContenidoId], [FechaCreacion]) VALUES (1011, 1016, 1017, 1, CAST(0x0000A3C200B2A608 AS DateTime))
INSERT [dbo].[ContenidoRelacionado] ([ContenidoRelacionadoId], [ContenidoId], [ContenidoHijoId], [TipoRelacionContenidoId], [FechaCreacion]) VALUES (2011, 1016, 2016, 1, CAST(0x0000A3C20165A611 AS DateTime))
INSERT [dbo].[ContenidoRelacionado] ([ContenidoRelacionadoId], [ContenidoId], [ContenidoHijoId], [TipoRelacionContenidoId], [FechaCreacion]) VALUES (3011, 7016, 9016, 1, CAST(0x0000A3D00159788B AS DateTime))
SET IDENTITY_INSERT [dbo].[ContenidoRelacionado] OFF
SET IDENTITY_INSERT [dbo].[DatoTablaBasica] ON 

INSERT [dbo].[DatoTablaBasica] ([DatoTablaBasicaId], [TablaBasicaId], [Valor], [ValorIngles], [PadreId], [Activo], [CodigoExterno], [InformacionAdicional]) VALUES (4, 1, N'Soltero', N'Solter', NULL, 1, NULL, NULL)
INSERT [dbo].[DatoTablaBasica] ([DatoTablaBasicaId], [TablaBasicaId], [Valor], [ValorIngles], [PadreId], [Activo], [CodigoExterno], [InformacionAdicional]) VALUES (6, 1, N'Casado', N'Casdo', NULL, 1, NULL, NULL)
INSERT [dbo].[DatoTablaBasica] ([DatoTablaBasicaId], [TablaBasicaId], [Valor], [ValorIngles], [PadreId], [Activo], [CodigoExterno], [InformacionAdicional]) VALUES (7, 1, N'Divorciado', N'Divorciado', NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DatoTablaBasica] OFF
SET IDENTITY_INSERT [dbo].[FormularioAdopcion] ON 

INSERT [dbo].[FormularioAdopcion] ([FormularioAdopcionId], [ContenidoId], [FechaCreacion], [UsuarioId], [MiembrosFamilia]) VALUES (4, 1016, CAST(0x0000A3FF00DC7180 AS DateTime), 1010, 123)
INSERT [dbo].[FormularioAdopcion] ([FormularioAdopcionId], [ContenidoId], [FechaCreacion], [UsuarioId], [MiembrosFamilia]) VALUES (5, 3016, CAST(0x0000A3FF00E1A43A AS DateTime), 1011, 2)
SET IDENTITY_INSERT [dbo].[FormularioAdopcion] OFF
SET IDENTITY_INSERT [dbo].[OpcionCampo] ON 

INSERT [dbo].[OpcionCampo] ([OpcionId], [CampoId], [Texto], [Activo]) VALUES (1, 1, N'Blanco', 1)
INSERT [dbo].[OpcionCampo] ([OpcionId], [CampoId], [Texto], [Activo]) VALUES (2, 1, N'Negro', 1)
INSERT [dbo].[OpcionCampo] ([OpcionId], [CampoId], [Texto], [Activo]) VALUES (3, 1, N'Café', 1)
SET IDENTITY_INSERT [dbo].[OpcionCampo] OFF
INSERT [dbo].[Parametrizacion] ([Llave], [Valor]) VALUES (N'AsuntoContacto', N'Contacto Huellitas pagina')
INSERT [dbo].[Parametrizacion] ([Llave], [Valor]) VALUES (N'CampoColorId', N'1')
INSERT [dbo].[Parametrizacion] ([Llave], [Valor]) VALUES (N'CampoEdadId', N'4')
SET IDENTITY_INSERT [dbo].[RespuestaAdopcion] ON 

INSERT [dbo].[RespuestaAdopcion] ([RespuestaAdopcionId], [FormularioAdopcionId], [Respuesta], [PreguntaId]) VALUES (4, 4, N'Guardia y Protección', 13)
INSERT [dbo].[RespuestaAdopcion] ([RespuestaAdopcionId], [FormularioAdopcionId], [Respuesta], [PreguntaId]) VALUES (5, 4, N'Si', 14)
INSERT [dbo].[RespuestaAdopcion] ([RespuestaAdopcionId], [FormularioAdopcionId], [Respuesta], [PreguntaId]) VALUES (6, 4, N'Si', 15)
SET IDENTITY_INSERT [dbo].[RespuestaAdopcion] OFF
SET IDENTITY_INSERT [dbo].[TablaBasica] ON 

INSERT [dbo].[TablaBasica] ([TablaBasicaId], [Nombre], [Descripcion]) VALUES (1, N'Estado Civil', N'Estados Civiles')
INSERT [dbo].[TablaBasica] ([TablaBasicaId], [Nombre], [Descripcion]) VALUES (2, N'Ocupacion', N'Ocupaciones')
INSERT [dbo].[TablaBasica] ([TablaBasicaId], [Nombre], [Descripcion]) VALUES (3, N'Preguntas Adopcion', N'Preguntas Adopcion')
SET IDENTITY_INSERT [dbo].[TablaBasica] OFF
SET IDENTITY_INSERT [dbo].[TipoContenido] ON 

INSERT [dbo].[TipoContenido] ([TipoContenidoId], [Nombre], [TipoContenidoPadreId]) VALUES (1, N'Imagen', NULL)
INSERT [dbo].[TipoContenido] ([TipoContenidoId], [Nombre], [TipoContenidoPadreId]) VALUES (2, N'Animal', NULL)
INSERT [dbo].[TipoContenido] ([TipoContenidoId], [Nombre], [TipoContenidoPadreId]) VALUES (3, N'Fundacion', NULL)
SET IDENTITY_INSERT [dbo].[TipoContenido] OFF
SET IDENTITY_INSERT [dbo].[TipoRelacion] ON 

INSERT [dbo].[TipoRelacion] ([TipoRelacionId], [Nombre], [Descripcion], [TipoContenidoId], [Activo]) VALUES (1, N'Adoptante', N'Adoptante de un perro', 2, 1)
INSERT [dbo].[TipoRelacion] ([TipoRelacionId], [Nombre], [Descripcion], [TipoContenidoId], [Activo]) VALUES (2, N'Padrino', N'Padrino', 2, 1)
SET IDENTITY_INSERT [dbo].[TipoRelacion] OFF
SET IDENTITY_INSERT [dbo].[TipoRelacionContenido] ON 

INSERT [dbo].[TipoRelacionContenido] ([TipoRelacionContenidoId], [Nombre], [Descripcion], [TipoContenidoId], [MaximoRegistros]) VALUES (1, N'Imagen', N'Imagenes asociadas al usuario', 1, 0)
INSERT [dbo].[TipoRelacionContenido] ([TipoRelacionContenidoId], [Nombre], [Descripcion], [TipoContenidoId], [MaximoRegistros]) VALUES (2, N'Perros en fundacion', N'Perros en la fundación', 4, 0)
INSERT [dbo].[TipoRelacionContenido] ([TipoRelacionContenidoId], [Nombre], [Descripcion], [TipoContenidoId], [MaximoRegistros]) VALUES (3, N'Fundación', N'Fundacion a la que pertenece el animal', 7, 1)
SET IDENTITY_INSERT [dbo].[TipoRelacionContenido] OFF
SET IDENTITY_INSERT [dbo].[TipoRelacionTipoContenido] ON 

INSERT [dbo].[TipoRelacionTipoContenido] ([TipoRelacionTipoContenidoId], [TipoContenidoId], [TipoRelacionContenidoId]) VALUES (1, 4, 4)
INSERT [dbo].[TipoRelacionTipoContenido] ([TipoRelacionTipoContenidoId], [TipoContenidoId], [TipoRelacionContenidoId]) VALUES (2, 2, 4)
INSERT [dbo].[TipoRelacionTipoContenido] ([TipoRelacionTipoContenidoId], [TipoContenidoId], [TipoRelacionContenidoId]) VALUES (3, 4, 3)
SET IDENTITY_INSERT [dbo].[TipoRelacionTipoContenido] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioId], [Correo], [Nombres], [Apellidos], [Clave], [NumeroDocumento], [FechaRegistro], [FechaActualizacion], [Activo], [EsAdministrador], [Direccion], [Telefono], [Celular], [EstadoCivilId], [OcupacionId], [FechaNacimiento], [ZonaGeograficaId]) VALUES (1, N'gabriel.castillo86@hotmail.com', N'Gabriel', N'Castillo', N'202cb962ac59075b964b07152d234b70', N'1023865316', CAST(0x0000A39500D792C3 AS DateTime), NULL, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([UsuarioId], [Correo], [Nombres], [Apellidos], [Clave], [NumeroDocumento], [FechaRegistro], [FechaActualizacion], [Activo], [EsAdministrador], [Direccion], [Telefono], [Celular], [EstadoCivilId], [OcupacionId], [FechaNacimiento], [ZonaGeograficaId]) VALUES (2, N'erica@hotmail.com', N'Erica', N'Prado', N'202cb962ac59075b964b07152d234b70', N'1023865315', CAST(0x0000A39500D792C3 AS DateTime), NULL, 1, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([UsuarioId], [Correo], [Nombres], [Apellidos], [Clave], [NumeroDocumento], [FechaRegistro], [FechaActualizacion], [Activo], [EsAdministrador], [Direccion], [Telefono], [Celular], [EstadoCivilId], [OcupacionId], [FechaNacimiento], [ZonaGeograficaId]) VALUES (3, N'ooo@oo.com', N'beto', N'eee', N'ggg', NULL, CAST(0x0000A3D401748748 AS DateTime), NULL, 1, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET IDENTITY_INSERT [dbo].[UsuarioContenido] ON 

INSERT [dbo].[UsuarioContenido] ([UsuarioContenidoId], [UsuarioId], [ContenidoId], [TipoRelacionId]) VALUES (7, 2, 3017, 2)
INSERT [dbo].[UsuarioContenido] ([UsuarioContenidoId], [UsuarioId], [ContenidoId], [TipoRelacionId]) VALUES (8, 2, 1016, 1)
SET IDENTITY_INSERT [dbo].[UsuarioContenido] OFF
SET IDENTITY_INSERT [dbo].[ValorCampo] ON 

INSERT [dbo].[ValorCampo] ([ValorCampoId], [CampoId], [ContenidoId], [Valor]) VALUES (13, 1, 1016, N'1')
INSERT [dbo].[ValorCampo] ([ValorCampoId], [CampoId], [ContenidoId], [Valor]) VALUES (14, 3, 1016, N'20')
INSERT [dbo].[ValorCampo] ([ValorCampoId], [CampoId], [ContenidoId], [Valor]) VALUES (15, 4, 1016, N'5')
GO
SET IDENTITY_INSERT [dbo].[ValorCampo] OFF
SET IDENTITY_INSERT [dbo].[ZonaGeografica] ON 

INSERT [dbo].[ZonaGeografica] ([ZonaGeograficaId], [Nombre], [CodigoExterno], [ZonaGeograficaPadreId], [Activo]) VALUES (1, N'Colombia', NULL, NULL, 1)
INSERT [dbo].[ZonaGeografica] ([ZonaGeograficaId], [Nombre], [CodigoExterno], [ZonaGeograficaPadreId], [Activo]) VALUES (2, N'Bogotá', NULL, 1, 1)
INSERT [dbo].[ZonaGeografica] ([ZonaGeograficaId], [Nombre], [CodigoExterno], [ZonaGeograficaPadreId], [Activo]) VALUES (3, N'Bogotá', NULL, 2, 1)
SET IDENTITY_INSERT [dbo].[ZonaGeografica] OFF
/****** Object:  Index [IX_CampoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]') AND name = N'IX_CampoId')
CREATE NONCLUSTERED INDEX [IX_CampoId] ON [dbo].[CampoTipoContenido]
(
	[CampoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]') AND name = N'IX_TipoContenidoId')
CREATE NONCLUSTERED INDEX [IX_TipoContenidoId] ON [dbo].[CampoTipoContenido]
(
	[TipoContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Comentario]') AND name = N'IX_ContenidoId')
CREATE NONCLUSTERED INDEX [IX_ContenidoId] ON [dbo].[Comentario]
(
	[ContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Comentario]') AND name = N'IX_UsuarioId')
CREATE NONCLUSTERED INDEX [IX_UsuarioId] ON [dbo].[Comentario]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Contenido]') AND name = N'IX_TipoContenidoId')
CREATE NONCLUSTERED INDEX [IX_TipoContenidoId] ON [dbo].[Contenido]
(
	[TipoContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Contenido]') AND name = N'IX_UsuarioId')
CREATE NONCLUSTERED INDEX [IX_UsuarioId] ON [dbo].[Contenido]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ZonaGeograficaId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Contenido]') AND name = N'IX_ZonaGeograficaId')
CREATE NONCLUSTERED INDEX [IX_ZonaGeograficaId] ON [dbo].[Contenido]
(
	[ZonaGeograficaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContenidoHijoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]') AND name = N'IX_ContenidoHijoId')
CREATE NONCLUSTERED INDEX [IX_ContenidoHijoId] ON [dbo].[ContenidoRelacionado]
(
	[ContenidoHijoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]') AND name = N'IX_ContenidoId')
CREATE NONCLUSTERED INDEX [IX_ContenidoId] ON [dbo].[ContenidoRelacionado]
(
	[ContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoRelacionContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]') AND name = N'IX_TipoRelacionContenidoId')
CREATE NONCLUSTERED INDEX [IX_TipoRelacionContenidoId] ON [dbo].[ContenidoRelacionado]
(
	[TipoRelacionContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TablaBasicaId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[DatoTablaBasica]') AND name = N'IX_TablaBasicaId')
CREATE NONCLUSTERED INDEX [IX_TablaBasicaId] ON [dbo].[DatoTablaBasica]
(
	[TablaBasicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]') AND name = N'IX_ContenidoId')
CREATE NONCLUSTERED INDEX [IX_ContenidoId] ON [dbo].[FormularioAdopcion]
(
	[ContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]') AND name = N'IX_UsuarioId')
CREATE NONCLUSTERED INDEX [IX_UsuarioId] ON [dbo].[FormularioAdopcion]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CampoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[OpcionCampo]') AND name = N'IX_CampoId')
CREATE NONCLUSTERED INDEX [IX_CampoId] ON [dbo].[OpcionCampo]
(
	[CampoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FormularioAdopcionId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]') AND name = N'IX_FormularioAdopcionId')
CREATE NONCLUSTERED INDEX [IX_FormularioAdopcionId] ON [dbo].[RespuestaAdopcion]
(
	[FormularioAdopcionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PreguntaId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]') AND name = N'IX_PreguntaId')
CREATE NONCLUSTERED INDEX [IX_PreguntaId] ON [dbo].[RespuestaAdopcion]
(
	[PreguntaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoContenidoPadreId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TipoContenido]') AND name = N'IX_TipoContenidoPadreId')
CREATE NONCLUSTERED INDEX [IX_TipoContenidoPadreId] ON [dbo].[TipoContenido]
(
	[TipoContenidoPadreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacion]') AND name = N'IX_TipoContenidoId')
CREATE NONCLUSTERED INDEX [IX_TipoContenidoId] ON [dbo].[TipoRelacion]
(
	[TipoContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacionContenido]') AND name = N'IX_TipoContenidoId')
CREATE NONCLUSTERED INDEX [IX_TipoContenidoId] ON [dbo].[TipoRelacionContenido]
(
	[TipoContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]') AND name = N'IX_TipoContenidoId')
CREATE NONCLUSTERED INDEX [IX_TipoContenidoId] ON [dbo].[TipoRelacionTipoContenido]
(
	[TipoContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoRelacionContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]') AND name = N'IX_TipoRelacionContenidoId')
CREATE NONCLUSTERED INDEX [IX_TipoRelacionContenidoId] ON [dbo].[TipoRelacionTipoContenido]
(
	[TipoRelacionContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstadoCivilId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND name = N'IX_EstadoCivilId')
CREATE NONCLUSTERED INDEX [IX_EstadoCivilId] ON [dbo].[Usuario]
(
	[EstadoCivilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OcupacionId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND name = N'IX_OcupacionId')
CREATE NONCLUSTERED INDEX [IX_OcupacionId] ON [dbo].[Usuario]
(
	[OcupacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ZonaGeograficaId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND name = N'IX_ZonaGeograficaId')
CREATE NONCLUSTERED INDEX [IX_ZonaGeograficaId] ON [dbo].[Usuario]
(
	[ZonaGeograficaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]') AND name = N'IX_ContenidoId')
CREATE NONCLUSTERED INDEX [IX_ContenidoId] ON [dbo].[UsuarioContenido]
(
	[ContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoRelacionId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]') AND name = N'IX_TipoRelacionId')
CREATE NONCLUSTERED INDEX [IX_TipoRelacionId] ON [dbo].[UsuarioContenido]
(
	[TipoRelacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]') AND name = N'IX_UsuarioId')
CREATE NONCLUSTERED INDEX [IX_UsuarioId] ON [dbo].[UsuarioContenido]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CampoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ValorCampo]') AND name = N'IX_CampoId')
CREATE NONCLUSTERED INDEX [IX_CampoId] ON [dbo].[ValorCampo]
(
	[CampoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContenidoId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ValorCampo]') AND name = N'IX_ContenidoId')
CREATE NONCLUSTERED INDEX [IX_ContenidoId] ON [dbo].[ValorCampo]
(
	[ContenidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ZonaGeograficaPadreId]    Script Date: 12/12/14 14:36:03 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ZonaGeografica]') AND name = N'IX_ZonaGeograficaPadreId')
CREATE NONCLUSTERED INDEX [IX_ZonaGeograficaPadreId] ON [dbo].[ZonaGeografica]
(
	[ZonaGeograficaPadreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Campo__Activo__4D5F7D71]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Campo] ADD  DEFAULT ((1)) FOR [Activo]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Contenido__Activ__2E1BDC42]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Contenido] ADD  DEFAULT ((0)) FOR [Activo]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Contenido__Elimi__398D8EEE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Contenido] ADD  DEFAULT ((0)) FOR [Eliminado]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Contenido__Desta__607251E5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Contenido] ADD  DEFAULT ((0)) FOR [Destacado]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Contenido__Descr__1C873BEC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Contenido] ADD  DEFAULT ('Ingresar descripción') FOR [DescripcionCorta]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Formulari__Fecha__7E02B4CC]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FormularioAdopcion] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [FechaCreacion]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Formulari__Usuar__0880433F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FormularioAdopcion] ADD  DEFAULT ((0)) FOR [UsuarioId]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Formulari__Miemb__0F2D40CE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FormularioAdopcion] ADD  DEFAULT ((0)) FOR [MiembrosFamilia]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__OpcionCam__Activ__4E53A1AA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OpcionCampo] ADD  DEFAULT ((1)) FOR [Activo]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Respuesta__Pregu__1A9EF37A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RespuestaAdopcion] ADD  DEFAULT ((0)) FOR [PreguntaId]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TipoRelac__Activ__4F47C5E3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TipoRelacion] ADD  DEFAULT ((1)) FOR [Activo]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TipoRelac__TipoC__3D5E1FD2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TipoRelacionContenido] ADD  DEFAULT ((0)) FOR [TipoContenidoId]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TipoRelac__Maxim__3E52440B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TipoRelacionContenido] ADD  DEFAULT ((0)) FOR [MaximoRegistros]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Usuario__EsAdmin__47DBAE45]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [EsAdministrador]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__ZonaGeogr__Activ__503BEA1C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ZonaGeografica] ADD  DEFAULT ((1)) FOR [Activo]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.CampoTipoContenido_dbo.Campo_CampoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]'))
ALTER TABLE [dbo].[CampoTipoContenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CampoTipoContenido_dbo.Campo_CampoId] FOREIGN KEY([CampoId])
REFERENCES [dbo].[Campo] ([CampoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.CampoTipoContenido_dbo.Campo_CampoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]'))
ALTER TABLE [dbo].[CampoTipoContenido] CHECK CONSTRAINT [FK_dbo.CampoTipoContenido_dbo.Campo_CampoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.CampoTipoContenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]'))
ALTER TABLE [dbo].[CampoTipoContenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CampoTipoContenido_dbo.TipoContenido_TipoContenidoId] FOREIGN KEY([TipoContenidoId])
REFERENCES [dbo].[TipoContenido] ([TipoContenidoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.CampoTipoContenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[CampoTipoContenido]'))
ALTER TABLE [dbo].[CampoTipoContenido] CHECK CONSTRAINT [FK_dbo.CampoTipoContenido_dbo.TipoContenido_TipoContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Comentario_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Comentario]'))
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comentario_dbo.Contenido_ContenidoId] FOREIGN KEY([ContenidoId])
REFERENCES [dbo].[Contenido] ([ContenidoId])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Comentario_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Comentario]'))
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_dbo.Comentario_dbo.Contenido_ContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Comentario_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Comentario]'))
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comentario_dbo.Usuario_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Comentario_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Comentario]'))
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_dbo.Comentario_dbo.Usuario_UsuarioId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Contenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contenido]'))
ALTER TABLE [dbo].[Contenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contenido_dbo.TipoContenido_TipoContenidoId] FOREIGN KEY([TipoContenidoId])
REFERENCES [dbo].[TipoContenido] ([TipoContenidoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Contenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contenido]'))
ALTER TABLE [dbo].[Contenido] CHECK CONSTRAINT [FK_dbo.Contenido_dbo.TipoContenido_TipoContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Contenido_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contenido]'))
ALTER TABLE [dbo].[Contenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contenido_dbo.Usuario_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Contenido_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contenido]'))
ALTER TABLE [dbo].[Contenido] CHECK CONSTRAINT [FK_dbo.Contenido_dbo.Usuario_UsuarioId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Contenido_dbo.ZonaGeografica_ZonaGeograficaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contenido]'))
ALTER TABLE [dbo].[Contenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contenido_dbo.ZonaGeografica_ZonaGeograficaId] FOREIGN KEY([ZonaGeograficaId])
REFERENCES [dbo].[ZonaGeografica] ([ZonaGeograficaId])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Contenido_dbo.ZonaGeografica_ZonaGeograficaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contenido]'))
ALTER TABLE [dbo].[Contenido] CHECK CONSTRAINT [FK_dbo.Contenido_dbo.ZonaGeografica_ZonaGeograficaId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]'))
ALTER TABLE [dbo].[ContenidoRelacionado]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoId] FOREIGN KEY([ContenidoId])
REFERENCES [dbo].[Contenido] ([ContenidoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]'))
ALTER TABLE [dbo].[ContenidoRelacionado] CHECK CONSTRAINT [FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoPadreId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]'))
ALTER TABLE [dbo].[ContenidoRelacionado]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoPadreId] FOREIGN KEY([ContenidoHijoId])
REFERENCES [dbo].[Contenido] ([ContenidoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoPadreId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]'))
ALTER TABLE [dbo].[ContenidoRelacionado] CHECK CONSTRAINT [FK_dbo.ContenidoRelacionado_dbo.Contenido_ContenidoPadreId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContenidoRelacionado_dbo.TipoRelacionContenido_TipoRelacionContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]'))
ALTER TABLE [dbo].[ContenidoRelacionado]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContenidoRelacionado_dbo.TipoRelacionContenido_TipoRelacionContenidoId] FOREIGN KEY([TipoRelacionContenidoId])
REFERENCES [dbo].[TipoRelacionContenido] ([TipoRelacionContenidoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContenidoRelacionado_dbo.TipoRelacionContenido_TipoRelacionContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContenidoRelacionado]'))
ALTER TABLE [dbo].[ContenidoRelacionado] CHECK CONSTRAINT [FK_dbo.ContenidoRelacionado_dbo.TipoRelacionContenido_TipoRelacionContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DatoTablaBasica_dbo.TablaBasica_TablaBasicaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatoTablaBasica]'))
ALTER TABLE [dbo].[DatoTablaBasica]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DatoTablaBasica_dbo.TablaBasica_TablaBasicaId] FOREIGN KEY([TablaBasicaId])
REFERENCES [dbo].[TablaBasica] ([TablaBasicaId])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DatoTablaBasica_dbo.TablaBasica_TablaBasicaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[DatoTablaBasica]'))
ALTER TABLE [dbo].[DatoTablaBasica] CHECK CONSTRAINT [FK_dbo.DatoTablaBasica_dbo.TablaBasica_TablaBasicaId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.FormularioAdopcion_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]'))
ALTER TABLE [dbo].[FormularioAdopcion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FormularioAdopcion_dbo.Contenido_ContenidoId] FOREIGN KEY([ContenidoId])
REFERENCES [dbo].[Contenido] ([ContenidoId])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.FormularioAdopcion_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]'))
ALTER TABLE [dbo].[FormularioAdopcion] CHECK CONSTRAINT [FK_dbo.FormularioAdopcion_dbo.Contenido_ContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.FormularioAdopcion_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]'))
ALTER TABLE [dbo].[FormularioAdopcion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FormularioAdopcion_dbo.Usuario_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.FormularioAdopcion_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[FormularioAdopcion]'))
ALTER TABLE [dbo].[FormularioAdopcion] CHECK CONSTRAINT [FK_dbo.FormularioAdopcion_dbo.Usuario_UsuarioId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.OpcionCampo_dbo.Campo_CampoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[OpcionCampo]'))
ALTER TABLE [dbo].[OpcionCampo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OpcionCampo_dbo.Campo_CampoId] FOREIGN KEY([CampoId])
REFERENCES [dbo].[Campo] ([CampoId])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.OpcionCampo_dbo.Campo_CampoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[OpcionCampo]'))
ALTER TABLE [dbo].[OpcionCampo] CHECK CONSTRAINT [FK_dbo.OpcionCampo_dbo.Campo_CampoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.RespuestaAdopcion_dbo.DatoTablaBasica_PreguntaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]'))
ALTER TABLE [dbo].[RespuestaAdopcion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RespuestaAdopcion_dbo.DatoTablaBasica_PreguntaId] FOREIGN KEY([PreguntaId])
REFERENCES [dbo].[DatoTablaBasica] ([DatoTablaBasicaId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.RespuestaAdopcion_dbo.DatoTablaBasica_PreguntaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]'))
ALTER TABLE [dbo].[RespuestaAdopcion] CHECK CONSTRAINT [FK_dbo.RespuestaAdopcion_dbo.DatoTablaBasica_PreguntaId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.RespuestaAdopcion_dbo.FormularioAdopcion_FormularioAdopcionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]'))
ALTER TABLE [dbo].[RespuestaAdopcion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RespuestaAdopcion_dbo.FormularioAdopcion_FormularioAdopcionId] FOREIGN KEY([FormularioAdopcionId])
REFERENCES [dbo].[FormularioAdopcion] ([FormularioAdopcionId])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.RespuestaAdopcion_dbo.FormularioAdopcion_FormularioAdopcionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaAdopcion]'))
ALTER TABLE [dbo].[RespuestaAdopcion] CHECK CONSTRAINT [FK_dbo.RespuestaAdopcion_dbo.FormularioAdopcion_FormularioAdopcionId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoContenido_dbo.TipoContenido_TipoContenidoPadre_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoContenido]'))
ALTER TABLE [dbo].[TipoContenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TipoContenido_dbo.TipoContenido_TipoContenidoPadre_TipoContenidoId] FOREIGN KEY([TipoContenidoPadreId])
REFERENCES [dbo].[TipoContenido] ([TipoContenidoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoContenido_dbo.TipoContenido_TipoContenidoPadre_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoContenido]'))
ALTER TABLE [dbo].[TipoContenido] CHECK CONSTRAINT [FK_dbo.TipoContenido_dbo.TipoContenido_TipoContenidoPadre_TipoContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacion_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacion]'))
ALTER TABLE [dbo].[TipoRelacion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TipoRelacion_dbo.TipoContenido_TipoContenidoId] FOREIGN KEY([TipoContenidoId])
REFERENCES [dbo].[TipoContenido] ([TipoContenidoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacion_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacion]'))
ALTER TABLE [dbo].[TipoRelacion] CHECK CONSTRAINT [FK_dbo.TipoRelacion_dbo.TipoContenido_TipoContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacionContenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacionContenido]'))
ALTER TABLE [dbo].[TipoRelacionContenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TipoRelacionContenido_dbo.TipoContenido_TipoContenidoId] FOREIGN KEY([TipoContenidoId])
REFERENCES [dbo].[TipoContenido] ([TipoContenidoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacionContenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacionContenido]'))
ALTER TABLE [dbo].[TipoRelacionContenido] CHECK CONSTRAINT [FK_dbo.TipoRelacionContenido_dbo.TipoContenido_TipoContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacionTipoContenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]'))
ALTER TABLE [dbo].[TipoRelacionTipoContenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TipoRelacionTipoContenido_dbo.TipoContenido_TipoContenidoId] FOREIGN KEY([TipoContenidoId])
REFERENCES [dbo].[TipoContenido] ([TipoContenidoId])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacionTipoContenido_dbo.TipoContenido_TipoContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]'))
ALTER TABLE [dbo].[TipoRelacionTipoContenido] CHECK CONSTRAINT [FK_dbo.TipoRelacionTipoContenido_dbo.TipoContenido_TipoContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacionTipoContenido_dbo.TipoRelacionContenido_TipoRelacionContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]'))
ALTER TABLE [dbo].[TipoRelacionTipoContenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TipoRelacionTipoContenido_dbo.TipoRelacionContenido_TipoRelacionContenidoId] FOREIGN KEY([TipoRelacionContenidoId])
REFERENCES [dbo].[TipoRelacionContenido] ([TipoRelacionContenidoId])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.TipoRelacionTipoContenido_dbo.TipoRelacionContenido_TipoRelacionContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[TipoRelacionTipoContenido]'))
ALTER TABLE [dbo].[TipoRelacionTipoContenido] CHECK CONSTRAINT [FK_dbo.TipoRelacionTipoContenido_dbo.TipoRelacionContenido_TipoRelacionContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Usuario_dbo.TablaBasica_EstadoCivil_TablaBasicaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario]'))
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Usuario_dbo.TablaBasica_EstadoCivil_TablaBasicaId] FOREIGN KEY([EstadoCivilId])
REFERENCES [dbo].[TablaBasica] ([TablaBasicaId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Usuario_dbo.TablaBasica_EstadoCivil_TablaBasicaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario]'))
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_dbo.Usuario_dbo.TablaBasica_EstadoCivil_TablaBasicaId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Usuario_dbo.TablaBasica_Ocupacion_TablaBasicaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario]'))
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Usuario_dbo.TablaBasica_Ocupacion_TablaBasicaId] FOREIGN KEY([OcupacionId])
REFERENCES [dbo].[TablaBasica] ([TablaBasicaId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Usuario_dbo.TablaBasica_Ocupacion_TablaBasicaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario]'))
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_dbo.Usuario_dbo.TablaBasica_Ocupacion_TablaBasicaId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Usuario_dbo.ZonaGeografica_ZonaGeograficaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario]'))
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Usuario_dbo.ZonaGeografica_ZonaGeograficaId] FOREIGN KEY([ZonaGeograficaId])
REFERENCES [dbo].[ZonaGeografica] ([ZonaGeograficaId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Usuario_dbo.ZonaGeografica_ZonaGeograficaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Usuario]'))
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_dbo.Usuario_dbo.ZonaGeografica_ZonaGeograficaId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UsuarioContenido_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]'))
ALTER TABLE [dbo].[UsuarioContenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuarioContenido_dbo.Contenido_ContenidoId] FOREIGN KEY([ContenidoId])
REFERENCES [dbo].[Contenido] ([ContenidoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UsuarioContenido_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]'))
ALTER TABLE [dbo].[UsuarioContenido] CHECK CONSTRAINT [FK_dbo.UsuarioContenido_dbo.Contenido_ContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UsuarioContenido_dbo.TipoRelacion_TipoRelacionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]'))
ALTER TABLE [dbo].[UsuarioContenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuarioContenido_dbo.TipoRelacion_TipoRelacionId] FOREIGN KEY([TipoRelacionId])
REFERENCES [dbo].[TipoRelacion] ([TipoRelacionId])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UsuarioContenido_dbo.TipoRelacion_TipoRelacionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]'))
ALTER TABLE [dbo].[UsuarioContenido] CHECK CONSTRAINT [FK_dbo.UsuarioContenido_dbo.TipoRelacion_TipoRelacionId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UsuarioContenido_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]'))
ALTER TABLE [dbo].[UsuarioContenido]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsuarioContenido_dbo.Usuario_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.UsuarioContenido_dbo.Usuario_UsuarioId]') AND parent_object_id = OBJECT_ID(N'[dbo].[UsuarioContenido]'))
ALTER TABLE [dbo].[UsuarioContenido] CHECK CONSTRAINT [FK_dbo.UsuarioContenido_dbo.Usuario_UsuarioId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ValorCampo_dbo.Campo_CampoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ValorCampo]'))
ALTER TABLE [dbo].[ValorCampo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ValorCampo_dbo.Campo_CampoId] FOREIGN KEY([CampoId])
REFERENCES [dbo].[Campo] ([CampoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ValorCampo_dbo.Campo_CampoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ValorCampo]'))
ALTER TABLE [dbo].[ValorCampo] CHECK CONSTRAINT [FK_dbo.ValorCampo_dbo.Campo_CampoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ValorCampo_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ValorCampo]'))
ALTER TABLE [dbo].[ValorCampo]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ValorCampo_dbo.Contenido_ContenidoId] FOREIGN KEY([ContenidoId])
REFERENCES [dbo].[Contenido] ([ContenidoId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ValorCampo_dbo.Contenido_ContenidoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ValorCampo]'))
ALTER TABLE [dbo].[ValorCampo] CHECK CONSTRAINT [FK_dbo.ValorCampo_dbo.Contenido_ContenidoId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ZonaGeografica_dbo.ZonaGeografica_ZonaGeograficaPadre_ZonaGeograficaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ZonaGeografica]'))
ALTER TABLE [dbo].[ZonaGeografica]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ZonaGeografica_dbo.ZonaGeografica_ZonaGeograficaPadre_ZonaGeograficaId] FOREIGN KEY([ZonaGeograficaPadreId])
REFERENCES [dbo].[ZonaGeografica] ([ZonaGeograficaId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ZonaGeografica_dbo.ZonaGeografica_ZonaGeograficaPadre_ZonaGeograficaId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ZonaGeografica]'))
ALTER TABLE [dbo].[ZonaGeografica] CHECK CONSTRAINT [FK_dbo.ZonaGeografica_dbo.ZonaGeografica_ZonaGeograficaPadre_ZonaGeograficaId]
GO
USE [master]
GO
