@model LoginCol.Huellitas.Web.Models.Admin.ListarContenidoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="divVistaListarContenidos">
    @Html.Partial("~/Views/Administracion/Contenido/_Index.cshtml")
</div>
<div id="divVistaEditarContenidos">
    @Html.Partial("~/Views/Administracion/Animales/_Editar.cshtml", Model.Contenido)
</div>



